# folders to force load
!**/multiqc/

# filetypes to ignore (all but scripts, and intermediate data) 
*.pdf
*.jpg
*.png
*.zip
*.gz
*.fasta
*.fa
*.fastq
*.fq
*.bam
*.sam
*.gtf
*.RDS
*.rds
*.RData
*.out
*.tsv

# specific dirs
02_Output/
01_Input/
stdout/
02_Raw_data/Fix-OneDrive-Zip
02_Raw_data/02_rRNA_removal_and_Trimming_check/300421_FredericIdea/findkmer/
SMAP/
