
# folders to force load
!**/multiqc/

# filetypes to ignore (all but scripts, and intermediate data) 
*.pdf
*.jpg
*.png
*.zip
*.gz
*.fasta
*.fa
*.fastq
*.fq
*.bam
*.sam
*.gtf
*.RDS
*.rds
*.RData

# specific dirs
02_Raw_data/Fix-OneDrive-Zip
02_Raw_data/02_rRNA_removal_and_Trimming_check/300421_FredericIdea/findkmer/
/03_IC3Characterization/01_PDX/080721_TFactivity/02_Output/IC3BestTFActivity.tsv
/03_IC3Characterization/01_PDX/080721_TFactivity/02_Output/IC3BestTFActivity_Gtex.tsv
/03_IC3Characterization/01_PDX/080721_TFactivity/02_Output/IC3BestTFActivity_PANcancer.tsv
/03_IC3Characterization/01_PDX/080721_TFactivity/02_Output/IC3BestTFActivity_PANcancer_continuous_IC3.tsv
/03_IC3Characterization/01_PDX/080721_TFactivity/02_Output/IC3BestTFActivity_PANcancer_groups_IC3.tsv
